body {
	background-color:#eeeeee;
	margin:0px;
	padding:0px;
	min-width:600px;
}

/* Basic (2 column, liquid) layout */

div#layout-maincontainer {
	margin-left:200px;
}
div#layout-main {
	float:right;
	width:100%;
	margin:0 0 0 -180px;
}
div#layout-leftcol {
	width:200px;
	margin:0 0 0 0;
}
div#layout-footer {
	clear:both;
}

/* Banner */

#prism-banner {
	width:100%;
	height:120px;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	background-color:#6260c1; /* Right blue */
}
#prism-bannerlefthalf {
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:120px;
	margin:0;
	background-color:#272582; /* Left blue */
}
#prism-bannerrighthalf {
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:120px;
	margin:0;
	background-color:#6260c1; /* Right blue */
}
#prism-bannerlogo {
	position:absolute;
	top:0;
	left:0;
	width:75px;
	height:80px;
	margin:0;
	padding:30px 0 10px 25px;
	text-align:left;
	background-color:#272582; /* Left blue */
}
#prism-bannerurl {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:120px;
	margin:0;
	padding:0;
	text-align:center;
}
#prism-bannerurl img {
	margin:0 100px 0 0; /* Centre URL but allow for fact RHS is wider */
	height:120px;
	width:auto;
}
#prism-bannerright {
	height:120px;
	background-color:#333173;
}
#prism-searchbox {
	position:absolute;
	top:40px;
	right:20px;
	text-align:center;
}
#prism-searchbox #q {
	display:block;
	margin:0 0 5px 0;
	background:#d9dbe1;
	border:1px solid #9097a2;
	padding:2px;
	width:100px;
}
#prism-searchbox #submit {
	display:block;
	margin:auto;
	background:#6A7389 none repeat scroll 0%;
	border-color:#9097a2 #283043 #283043 #9097a2;
	border-style:solid;
	border-width:1px;
	color:#ffffff;
	padding:1px 4px;
}

/* Main navigation bar (horizontal) */

#prism-navbar {
	clear:both;
	padding:2px 0;
	border:solid #777777;
	border-width:0 0 1px 0;
	background:#999999 url('http://www.prismmodelchecker.org/manual/pub/skins/offline/images/nav_top.png') 0 0 repeat-x;
/* 	font-weight:bold; */
	text-align:center;
}

#prism-navbarinner {
	margin:0 auto;
}

ul#prism-navbarmenu {
	display:inline-block; /* So we can center this horizontally */
	list-style-type:none;
	margin:0;
	padding:2px;
}

ul#prism-navbarmenu > li {
	display:block;
	float:left;
	border:0;
	margin:0;
	padding:0;
	background:none;
	position:relative;
}

li.prism-navitem > a, li.prism-navitemsel > a {
	display:block;
	padding:2px;
	border-color:#999999;
	border-style:solid;
	border-width:1px;
	border-radius:4px 4px 0 0;
}

li.prism-navitem > a.prism-navitemhover, li.prism-navitemsel > a.prism-navitemhover {
	background-color:#bbbbbb;
	border-color:#777777;
	border-width:1px 1px 0 1px;
	color:white;
}

li.prism-navitem > a.prism-navitemhoverempty, li.prism-navitemsel > a.prism-navitemhoverempty {
	background-color:#bbbbbb;
	border-color:#777777;
	border-radius:4px;
}

li.prism-navitem > a:link { color:black; text-decoration:none; }
li.prism-navitem > a:visited { color:black; text-decoration:none; }
li.prism-navitem > a:hover { color:white; text-decoration:none; }
li.prism-navitem > a:active { color:black; text-decoration:none; }

li.prism-navitemsel > a:link { color:white; text-decoration:none; }
li.prism-navitemsel > a:visited { color:white; text-decoration:none; }
li.prism-navitemsel > a:hover { color:white; text-decoration:none; }
li.prism-navitemsel > a:active { color:white; text-decoration:none; }

ul.prism-navbarsubmenu
{
	list-style-type:none;
	position:absolute;
	display:none;
	margin:0;
	padding:0;
	background:#eeeeee;
	border:solid #777777 1px;
	padding:2px;
	box-shadow:2px 2px 2px rgba(150,150,150,0.5);
}

ul.prism-navbarsubmenu li {
	font-weight:normal;
	position:relative;
	display:block;
	margin:0;
	padding:2px;
	width:auto;
	background:none;
	white-space:nowrap;
	text-align:left;
	text-decoration:none;
}

ul.prism-navbarsubmenu li:hover {
	background:#999999;
	color:#ffffff;
}

ul.prism-navbarsubmenu li:hover a {
	background:inherit;
	color:inherit;
}

li.prism-navsubitem > a:link { color:black; text-decoration:none; }
li.prism-navsubitem > a:visited { color:black; text-decoration:none; }
li.prism-navsubitem > a:hover { color:white; text-decoration:none; }
li.prism-navsubitem > a:active { color:black; text-decoration:none; }

li.prism-navsubitemsel > a:link { color:white; text-decoration:none; }
li.prism-navsubitemsel > a:visited { color:white; text-decoration:none; }
li.prism-navsubitemsel > a:hover { color:white; text-decoration:none; }
li.prism-navsubitemsel > a:active { color:white; text-decoration:none; }

/* Main content box */

#prism-mainbox {
	padding:5px 30px 100px 30px;
	border:solid #cccccc;
	border-width:0 0 1px 1px;
	background-color:#ffffff;
	border-radius:0 0 0 8px;
}
#prism-unilogo {
	float:right;
	margin:15px 0 10px 10px;
}

/* Second navigation panel (LHS) */

#prism-navbar2 {
	padding:5px 20px 250px 20px;
	background:#eeeeee url('../images/trinity.png') 0 0 no-repeat;
	color:#333333;
	font-size:100%;
}
#prism-navbar2 a {
	color:#333333;
}
#prism-navbar2 .selflink {
	color:#000000;
	font-weight:bold;
}
#prism-navbar2 h1, #prism-navbar2 h1 a {
	margin-bottom:0.3em;
}
#prism-navbar2 h3, #prism-navbar2 h3 a {
	margin-bottom:0.3em;
}
#prism-navbar2 ul {
	margin-left:0.8em;
	padding-left:0.8em;
}
#prism-navbar2 li {
	list-style-image:url('../images/hyphen.png');
	margin-bottom:0.4em;
}
#prism-navbar2 .prism-newsitem {
	margin-top:10px;
	margin-left:5px;
}
#prism-navbar2 .prism-newsitem a {
	color:blue;
}
#prism-navbar2 hr {
	height:0;
	border:dotted #808080;
	border-width:1px 0 0 0;
}

#prism-advert {
	float:right;
	width:150px;
	/*height:180px;*/
	margin:20px 30px 0 10px;
	background:#eeeeee;
	/*background:#eeeeee url('../images/trinity.png') 0 0 no-repeat;*/
	border:solid #777777 1px;
	border-radius:7px;
	font-size:80%;
	box-shadow:2px 2px 2px rgba(150,150,150,0.5);
}

#prism-advertheader {
	background-color:#999999;
	border-radius:6px 6px 0 0;
	color:#ffffff;
	padding:6px;
	font-size:110%;
	font-weight:bold;
}

#prism-advertheader a {
	color:#ffffff;
}

#prism-advertbox {
	padding:6px;
}

#prism-advertbox p, #prism-advertbox a {
}

/* Footer */

#prism-footer {
	/*margin-left:180px;*/
	padding:20px 0 30px 0;
	text-align:center;
}

/* General components/styles */

/* Tables */

table.prism-table {
	background-color:#eeeeee;
	color:#333333;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border:solid 2px #000000;
}
table.prism-table a {
	/*color:#333333;*/
}
table.prism-table tr.prism-th td {
	border-color:#999999;
	background-color:#cccccc;
	color:#000000;
	font-weight:bold;
	text-align:center;
}
table.prism-table tr.prism-thl td {
	border-color:#999999;
	background-color:#cccccc;
	color:#000000;
	font-weight:bold;
	text-align:left;
}
table.prism-table td {
	border:1px solid;
	border-color:#999999 #dddddd #999999 #dddddd;
	padding:1px 5px 1px 5px;
	vertical-align:top;
	text-align:left;
}
div.prism-table-caption
{
	font-weight:bold;
	text-align:center;
	margin-top:0.5em;
	margin-bottom:0.75em;
}

/* Other */

.prism-newsitem {
	padding-bottom:10px;
}
.prism-newsitemhead {
	font-weight:bold;
}

.prism-rule {
	width:100%;
	height:0px;
	border:0px;
	border-top:dashed 1px #000099;
	margin:15px 0 15px 0;
}

img.prism-image {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:4px;
	border:solid 1px #333333;
}
.prism-image-caption {
	margin-top:5px;
	text-align:center;
	font-weight:bold;
}

ul.prism-list0 {
}
ul.prism-list0 li {
	list-style-image:url('../images/bullet0.png');
}
ul, ul.prism-list {
}
ul li, ul.prism-list li {
	list-style-image:url('../images/bullet.png');
}
ul.prism-list2, ul ul {
}
ul.prism-list2 li, li li {
	list-style-image:url('../images/bullet2.png');
}

ul.spacedout li {
	margin-top:0.8em;
	margin-bottom:0.8em;
}

.prism-box {
	background-color:#eeeeee;
	border:dotted 1px #cccccc;
	padding:0 10px 0 10px;
	width:90%; /* Need a width or else IE6 gets upset */
	overflow:auto;
}
.prism-citebox {
	background-color:#fff8dc;
	border:solid 1px #d7cca3;
	border-radius:7px;
	width:90%; /* Need a width or else IE6 gets upset */
	overflow:auto;
	box-shadow:2px 2px 2px rgba(150,150,150,0.5);
	font-size:90%;
}
.prism-citeboxheader {
	background-color:#ffebcd;
	padding:5px;
}
.prism-code {
	background-color:#ffffcc;
	border:dotted 2px #999999;
	margin:10px;
	padding:10px;
	width:90%; /* Need a width or else IE6 gets upset */
	overflow:auto;
}
.prism-code-caption {
	margin-top:5px;
	text-align:center;
/* 	font-weight:bold; */
}
.prism-code-scroll {
	background-color:#ffffcc;
	border:dotted 2px #999999;
	margin:10px;
	padding:10px;
	height:500px;
	width:90%; /* Need a width or else IE6 gets upset */
	overflow:auto;
}
* html .prism-code {
	padding-bottom:1.5em; /* Nasty hack to fix IE6 scrollbar positioning */
}
.prismkeyword { font-weight:bold; }
.prismident { color:#cc0000; }
.prismnum { color:#0000cc; }
.prismcomment { font-style:italic; color:#009900; }
.prismpreproc { color:#a020f0; }

.prism-floatbox {
	clear:both;
	float:right;
	width: 100px;
	background-color:#bdced6;
	border:dotted 1px #000099;
	margin:20px 10px 20px 20px;
	padding:10px;
}

.prism-download-box {
	border:dotted 2px #000099;
	margin:15px;
	padding:15px;
}

a.prism-cite { color:#006600; }

.prism-note { color:#666666; }
.prism-note a { color:#666666; }
.prism-note a.prism-cite { color:#006600; }

.prism-task {
	vertical-align:top;
	width:47px;
	height:28px;
	float:left;
	clear:both;
}

.prism-tag {
	color:white;
	background-color:grey;
	border-radius:2px;
	padding:2px;
	margin-left:4px;
	font-size:75%;
}

div.prism-shell {
  padding:5px 10px 5px 10px;
  margin:10px 0 10px 0;
  border:1px dotted #808080;
  background-color:#F1F0ED;
  overflow:auto;
  font-family:monospace;
  font-weight:bold;
  font-size:90%;
}
