<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
PRISM syntax highlighting for TextWrangler.
Copy this file into ~/Library/Application Support/TextWrangler/Language Modules/
(creating this directory if necessary).
-->

<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>PRISM</string>
	<key>BBLMLanguageCode</key>
	<string>PRIS</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>bool</string>
		<string>C</string>
		<string>ceil</string>
		<string>const</string>
		<string>ctmc</string>
		<string>double</string>
		<string>dtmc</string>
		<string>endinit</string>
		<string>endmodule</string>
		<string>endrewards</string>
		<string>endsystem</string>
		<string>F</string>
		<string>false</string>
		<string>floor</string>
		<string>formula</string>
		<string>func</string>
		<string>G</string>
		<string>global</string>
		<string>I</string>
		<string>init</string>
		<string>int</string>
		<string>label</string>
		<string>max</string>
		<string>mdp</string>
		<string>min</string>
		<string>module</string>
		<string>nondeterministic</string>
		<string>P</string>
		<string>Pmax</string>
		<string>Pmin</string>
		<string>prob</string>
		<string>probabilistic</string>
		<string>R</string>
		<string>rate</string>
		<string>rewards</string>
		<string>Rmax</string>
		<string>Rmin</string>
		<string>S</string>
		<string>stochastic</string>
		<string>system</string>
		<string>true</string>
		<string>U</string>
		<string>X</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.prism</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pm</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.nm</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.sm</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.props</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pctl</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.csl</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
	</dict>
</dict>
</plist>
