name: Regression tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    strategy:
      matrix:
        java: [11, 21]
        os: [ubuntu-latest, macos-latest]
        #java: [11, 17, 21]
        #os: [ubuntu-20.04, ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-26, ubuntu-22.04-arm, ubuntu-24.04-arm, macos-15-intel]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: make tests
      shell: bash
      working-directory: ./prism
      run: |
        make
        make unittests
        make tests

  build-win:
    strategy:
      matrix:
        java: [11, 21]
        os: [windows-latest]
        #java: [11, 17, 21]
        #os: [windows-2019, windows-2022, windows-2025] #, windows-11-arm]
        #exclude:
          #- os: windows-11-arm
            #java: 11
          #- os: windows-11-arm
            #java: 17
    runs-on: ${{ matrix.os }}

    steps:
    - run: git config --global core.autocrlf input
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Install Cygwin Dependencies
      uses: cygwin/cygwin-install-action@v4
      with:
        packages: |
          make,
          mingw64-x86_64-gcc-g++,
          binutils,
          dos2unix,
          wget,
          unzip,
          python
    - name: make tests
      shell: bash
      env:
        CYGWIN: winsymlinks:native
      working-directory: ./prism
      run: >-
        make &&
        make unittests &&
        make tests
